header {
    height: 75px;
    top: 0px;
    background-color: $inventouno; 
    .logo33{
        height: 60px;
        width: 60px;
        margin-top: 0px;
        margin-left: 20px;
    }
}
.violet{    
    background-color: #292E35;
    font-family: 'Chewy', cursive;
}