/* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA */
/* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA */
/* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA *//* HTML MI CUENTA */

.d-example-divider {
    background: url(../imagenes/b.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .conte {
    margin-top: 180px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .conte p {
    color: #b16464;
    font-size: 40px;
    font-weight: bold;
    margin: 1em 0;
  }
  
  .conte a {
    color: white;
    text-decoration: none;
    background-color: #343a40;
    padding: 13px 20px;
    border-radius: 7px;
    font-size: 18px;
    margin: 3px;
    cursor: pointer;
  }
  
  .conte a:hover {
    background-color: #b16464;
  }
  