/* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS */
/* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS */
/* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS *//* HTML PAGOS */

.pago {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: whitesmoke;
  }
  
  
  .btn-form {
    display: grid;
  
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: auto;
    cursor: pointer;
    /* border-radius: 50px; */
  }
  
  .btn-form:hover {
    opacity: 0.8;
  }
  
  .body-form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .color {
    background-color: #b16464;
  }
  
  .colord {
    background-color: white;
  }
  
  .b-example-divider {
    background-color: #b16464;
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .mb-1 {
    color: black;
  }
  