@import "variable";
@import "fuentes";
@import "general";
@import "header";
@import "index";
@import "pagos";
@import "contactanos";
@import "micuenta";
@import "loggin";
@import "crearcuenta";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa:wght@600&family=Chewy&family=Dongle:wght@300&family=Oswald&family=Raleway:ital,wght@0,400;0,700;1,300&family=Roboto+Mono:ital,wght@1,700&family=Roboto:ital,wght@1,900&family=Supermercado+One&display=swap');

footer {
  margin-top: auto;
}

footer h5{  
  font-size: 1.18rem;
}

.container-lg {
  margin: auto auto auto auto;
  background-color: white;
  font-family: 'Changa', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  /* border-radius: 15px; */
}

.btn-primary {
  margin: auto;
  color: white;
  background-color: #343a40;
  border-color: #343a40
}

.btn-primary:hover {
  transform: skewX(-5deg);
}


/* REDES *//* REDES *//* REDES *//* REDES *//* REDES */
/* REDES *//* REDES *//* REDES *//* REDES *//* REDES */
/* REDES *//* REDES *//* REDES *//* REDES *//* REDES */

.bi-twitter{  
  color: #262626;
  margin: 10px;
  font-size: 35px;
}

.bi-instagram{  
  color: #262626;
  margin: 10px;
  font-size: 30px;
}

.bi-facebook{ 
  color: #262626;
  margin: 10px;
  font-size: 30px;
}

a {
  color: bisque;
}

.color{ 
  background-color: #b16464;
}

.bgg {
  background-color: #b16464;
}

