@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Changa:wght@600&family=Chewy&family=Dongle:wght@300&family=Oswald&family=Raleway:ital,wght@0,400;0,700;1,300&family=Roboto+Mono:ital,wght@1,700&family=Roboto:ital,wght@1,900&family=Supermercado+One&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

header {
  z-index: 3;
  position: sticky;
  top: 0;
  margin: 0px 0px 0px 0px; }

.navbar {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 0px; }

.navbar-collapse {
  justify-content: center; }

.navbar-nav {
  top: 50%;
  left: 50%;
  display: flex; }

.nav-item {
  list-style: none; }

.nav-link {
  position: relative;
  text-decoration: none;
  color: #262626;
  transition: .5s;
  z-index: 1; }

.nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: .3s; }

.nav-link::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  z-index: -1; }

.navbar-light .navbar-nav .nav-link.active:hover {
  color: white; }

.nav-link:hover::before {
  transform: scaleY(1);
  opacity: 1; }

.nav-link:hover::after {
  transform: scaleY(1);
  opacity: 1; }

.carousel {
  z-index: 4; }

.a-example-divider {
  height: auto;
  background-image: url(../imagenes/backgroundd.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.c-example-divider {
  height: auto;
  background: url(../imagenes/backgroundd.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.section[id] {
  scroll-padding-top: 70px; }

a {
  color: #333;
  text-decoration: none; }

.cont {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem; }

.card {
  border-radius: 20px;
  background-color: #262626; }

.lh-1 {
  color: white; }

.d-flex {
  color: white; }

.rounded-circle {
  height: 70px;
  border-radius: none;
  border: solid 2px !important; }

.border-white {
  border-color: #6c757d !important; }

.card:before {
  background-color: white; }

img {
  width: 100%; }

.card-image {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background-color: #262626;
  margin-bottom: 2rem; }

.card-image h3 {
  color: white; }

.card-image h3 {
  margin-bottom: 2rem; }

.card-image img {
  height: 400px; }

.card-image > div {
  padding: 2rem; }

.card-image:nth-child(even) img {
  order: 2; }

.producto-m {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  /* border-radius: 50px; */ }

.btn:hover {
  opacity: 0.8; }

.btn-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  /* border-radius: 50px; */
  border-radius: 50px; }

.btn-btn:hover {
  opacity: 1; }

@media (max-width: 600px) {
  .card-image {
    display: block; } }

.roboot {
  width: 230px;
  height: 230px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background: url(../imagenes/66666666.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* darkslategray  #212529 */
  clip-path: circle(0%);
  transition-property: clip-path;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 1s; }

.cont-robot:hover .roboot {
  clip-path: circle(50.2% at 50% 50%);
  background: url(../imagenes/66666666.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.cont-robot {
  background-color: transparent;
  width: 450px;
  margin: 30px auto 30px auto; }

/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
/* HTML PAGOS */
.pago {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: whitesmoke; }

.btn-form {
  display: grid;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: auto;
  cursor: pointer;
  /* border-radius: 50px; */ }

.btn-form:hover {
  opacity: 0.8; }

.body-form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.color {
  background-color: #b16464; }

.colord {
  background-color: white; }

.b-example-divider {
  background-color: #b16464; }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.mb-1 {
  color: black; }

/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
/* HTML CONTACTOS  */
.form__input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 02em; }

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 5em; }

.body-cont {
  font-family: 'Roboto', sans-serif;
  background-color: #b16464;
  min-height: 100vh;
  width: 100%;
  display: flex; }

.form {
  margin: auto;
  background-color: white;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  box-shadow: 3px 9px 30px #000; }

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%; }

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em; }

.form__cta {
  font-family: 'Roboto', sans-serif;
  background-color: #089fe0;
  color: white;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 450px; }

@media (max-width: 450px) {
  .form {
    padding: 3.5em 1em; } }

/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
/* HTML MI CUENTA */
.d-example-divider {
  background: url(../imagenes/b.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.conte {
  margin-top: 180px;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.conte p {
  color: #b16464;
  font-size: 40px;
  font-weight: bold;
  margin: 1em 0; }

.conte a {
  color: white;
  text-decoration: none;
  background-color: #343a40;
  padding: 13px 20px;
  border-radius: 7px;
  font-size: 18px;
  margin: 3px;
  cursor: pointer; }

.conte a:hover {
  background-color: #b16464; }

.crearcuenta a {
  color: black;
  margin-left: 250px; }

/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
/* HTML CREAR CUENTA */
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-shadow: 3px 9px 30px #000;
  border-radius: 20px; }

.form-register h4 {
  font-size: 22px; }

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white; }

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: white;
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

.colorr {
  background: white; }

.lmtitle {
  font-family: 'Roboto', sans-serif; }

footer {
  margin-top: auto; }

footer h5 {
  font-size: 1.18rem; }

.container-lg {
  margin: auto auto auto auto;
  background-color: white;
  font-family: 'Changa', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  /* border-radius: 15px; */ }

.btn-primary {
  margin: auto;
  color: white;
  background-color: #343a40;
  border-color: #343a40; }

.btn-primary:hover {
  transform: skewX(-5deg); }

/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
/* REDES */
.bi-twitter {
  color: #262626;
  margin: 10px;
  font-size: 35px; }

.bi-instagram {
  color: #262626;
  margin: 10px;
  font-size: 30px; }

.bi-facebook {
  color: #262626;
  margin: 10px;
  font-size: 30px; }

a {
  color: bisque; }

.color {
  background-color: #b16464; }

.bgg {
  background-color: #b16464; }
